<a href="https://colab.research.google.com/github/abhivb2003/Data_Cleaning_using_Pandas-/blob/main/Data_cleaning_abhishek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as py

In [ ]:
df = pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [ ]:
df

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
print(df.isnull())

    Index    Age  Salary  Rating  Location  Established  Easy Apply
0   False  False   False   False     False        False       False
1   False  False   False   False     False        False       False
2   False   True   False   False     False        False       False
3   False  False   False   False     False        False       False
4   False  False   False   False     False        False       False
5   False  False   False   False     False        False       False
6   False  False   False   False     False        False       False
7   False  False   False   False     False        False       False
8   False  False   False   False     False        False       False
9   False  False   False   False     False        False       False
10  False  False   False   False     False        False       False
11  False  False   False   False     False        False       False
12  False   True   False   False     False        False       False
13  False  False   False   False     False        False       False
14  False  False   False   False     False        False       False
15  False  False   False   False     False        False       False
16  False  False   False   False     False        False       False
17  False   True   False   False     False        False       False
18  False  False   False   False     False        False       False
19  False  False   False   False     False        False       False
20  False   True   False   False     False        False       False
21  False  False   False   False     False        False       False
22  False  False   False   False     False        False       False
23  False   True   False   False     False        False       False
24  False  False   False   False     False        False       False
25  False  False   False   False     False        False       False
26  False   True   False    True     False        False       False
27  False  False   False   False     False        False       False
28  False   True   False   False     False        False       False

In [ ]:
df['Index'].fillna(df['Index'].mean(), inplace=True)

In [ ]:
print(df.isnull())

    Index    Age  Salary  Rating  Location  Established  Easy Apply
0   False  False   False   False     False        False       False
1   False  False   False   False     False        False       False
2   False   True   False   False     False        False       False
3   False  False   False   False     False        False       False
4   False  False   False   False     False        False       False
5   False  False   False   False     False        False       False
6   False  False   False   False     False        False       False
7   False  False   False   False     False        False       False
8   False  False   False   False     False        False       False
9   False  False   False   False     False        False       False
10  False  False   False   False     False        False       False
11  False  False   False   False     False        False       False
12  False   True   False   False     False        False       False
13  False  False   False   False     False        False       False
14  False  False   False   False     False        False       False
15  False  False   False   False     False        False       False
16  False  False   False   False     False        False       False
17  False   True   False   False     False        False       False
18  False  False   False   False     False        False       False
19  False  False   False   False     False        False       False
20  False   True   False   False     False        False       False
21  False  False   False   False     False        False       False
22  False  False   False   False     False        False       False
23  False   True   False   False     False        False       False
24  False  False   False   False     False        False       False
25  False  False   False   False     False        False       False
26  False   True   False    True     False        False       False
27  False  False   False   False     False        False       False
28  False   True   False   False     False        False       False

In [ ]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
print(df.isnull())

    Index    Age  Salary  Rating  Location  Established  Easy Apply
0   False  False   False   False     False        False       False
1   False  False   False   False     False        False       False
2   False  False   False   False     False        False       False
3   False  False   False   False     False        False       False
4   False  False   False   False     False        False       False
5   False  False   False   False     False        False       False
6   False  False   False   False     False        False       False
7   False  False   False   False     False        False       False
8   False  False   False   False     False        False       False
9   False  False   False   False     False        False       False
10  False  False   False   False     False        False       False
11  False  False   False   False     False        False       False
12  False  False   False   False     False        False       False
13  False  False   False   False     False        False       False
14  False  False   False   False     False        False       False
15  False  False   False   False     False        False       False
16  False  False   False   False     False        False       False
17  False  False   False   False     False        False       False
18  False  False   False   False     False        False       False
19  False  False   False   False     False        False       False
20  False  False   False   False     False        False       False
21  False  False   False   False     False        False       False
22  False  False   False   False     False        False       False
23  False  False   False   False     False        False       False
24  False  False   False   False     False        False       False
25  False  False   False   False     False        False       False
26  False  False   False    True     False        False       False
27  False  False   False   False     False        False       False
28  False  False   False   False     False        False       False

In [ ]:
df['Rating'].fillna(df['Rating'].mean(), inplace=True)
print(df.isnull())

    Index    Age  Salary  Rating  Location  Established  Easy Apply
0   False  False   False   False     False        False       False
1   False  False   False   False     False        False       False
2   False  False   False   False     False        False       False
3   False  False   False   False     False        False       False
4   False  False   False   False     False        False       False
5   False  False   False   False     False        False       False
6   False  False   False   False     False        False       False
7   False  False   False   False     False        False       False
8   False  False   False   False     False        False       False
9   False  False   False   False     False        False       False
10  False  False   False   False     False        False       False
11  False  False   False   False     False        False       False
12  False  False   False   False     False        False       False
13  False  False   False   False     False        False       False
14  False  False   False   False     False        False       False
15  False  False   False   False     False        False       False
16  False  False   False   False     False        False       False
17  False  False   False   False     False        False       False
18  False  False   False   False     False        False       False
19  False  False   False   False     False        False       False
20  False  False   False   False     False        False       False
21  False  False   False   False     False        False       False
22  False  False   False   False     False        False       False
23  False  False   False   False     False        False       False
24  False  False   False   False     False        False       False
25  False  False   False   False     False        False       False
26  False  False   False   False     False        False       False
27  False  False   False   False     False        False       False
28  False  False   False   False     False        False       False

In [ ]:
df

,Index,Age,Salary,Rating,Location,Established,Easy Apply
0,0,44.000000,$44k-$99k,5.400000,"India,In",1999,TRUE
1,1,66.000000,$55k-$66k,3.500000,"New York,Ny",2002,TRUE
2,2,39.045455,$77k-$89k,-1.000000,"New York,Ny",-1,-1
3,3,64.000000,$44k-$99k,4.400000,India In,1988,-1
4,4,25.000000,$44k-$99k,6.400000,Australia Aus,2002,-1
5,5,44.000000,$77k-$89k,1.400000,"India,In",1999,TRUE
6,6,21.000000,$44k-$99k,0.000000,"New York,Ny",-1,-1
7,7,44.000000,$44k-$99k,-1.000000,Australia Aus,-1,-1
8,8,35.000000,$44k-$99k,5.400000,"New York,Ny",-1,-1
9,9,22.000000,$44k-$99k,7.700000,"India,In",-1,TRUE
10,10,55.000000,$10k-$49k,5.400000,"India,In",2008,TRUE
11,11,44.000000,$10k-$49k,6.700000,"India,In",2009,-1
12,12,39.045455,$44k-$99k,0.000000,"India,In",1999,-1
13,13,25.000000,$44k-$99k,-1.000000,Australia Aus,2019,TRUE
14,14,66.000000,$44k-$99k,4.000000,Australia Aus,2020,TRUE
15,15,44.000000,$88k-$101k,3.000000,Australia Aus,1999,-1
16,16,19.000000,$19k-$40k,4.500000,"India,In",1984,-1
17,17,39.045455,$44k-$99k,5.300000,"New York,Ny",1943,TRUE
18,18,35.000000,$44k-$99k,6.700000,"New York,Ny",1954,TRUE
19,19,32.000000,$44k-$99k,3.300000,"New York,Ny",1955,TRUE
20,20,39.045455,$44k-$99k,5.700000,"New York,Ny",1944,TRUE
21,21,35.000000,$44k-$99k,5.000000,"New York,Ny",1946,-1
22,22,19.000000,$55k-$66k,7.800000,"New York,Ny",1988,TRUE
23,23,39.045455,$44k-$99k,2.400000,"New York,Ny",1999,TRUE
24,24,13.000000,$44k-$99k,-1.000000,"New York,Ny",1987,-1
25,25,55.000000,$44k-$99k,0.000000,Australia Aus,1980,TRUE
26,26,39.045455,$55k-$66k,3.528571,"India,In",1934,TRUE
27,27,52.000000,$44k-$99k,5.400000,"India,In",1935,-1
28,28,39.045455,$39k-$88k,3.400000,Australia Aus,1932,-1

In [ ]:
print(df.dtypes)

Index            int64
Age            float64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

In [ ]:
df['Age'] = df['Age'].astype(int)
print(df.dtypes)
df

Index            int64
Age              int64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

    Index  Age      Salary    Rating       Location  Established Easy Apply
0       0   44   $44k-$99k  5.400000       India,In         1999       TRUE
1       1   66   $55k-$66k  3.500000    New York,Ny         2002       TRUE
2       2   39   $77k-$89k -1.000000    New York,Ny           -1         -1
3       3   64   $44k-$99k  4.400000       India In         1988         -1
4       4   25   $44k-$99k  6.400000  Australia Aus         2002         -1
5       5   44   $77k-$89k  1.400000       India,In         1999       TRUE
6       6   21   $44k-$99k  0.000000    New York,Ny           -1         -1
7       7   44   $44k-$99k -1.000000  Australia Aus           -1         -1
8       8   35   $44k-$99k  5.400000    New York,Ny           -1         -1
9       9   22   $44k-$99k  7.700000       India,In           -1       TRUE
10     10   55   $10k-$49k  5.400000       India,In         2008       TRUE
11     11   44   $10k-$49k  6.700000       India,In         2009         -1
12     12   39   $44k-$99k  0.000000       India,In         1999         -1
13     13   25   $44k-$99k -1.000000  Australia Aus         2019       TRUE
14     14   66   $44k-$99k  4.000000  Australia Aus         2020       TRUE
15     15   44  $88k-$101k  3.000000  Australia Aus         1999         -1
16     16   19   $19k-$40k  4.500000       India,In         1984         -1
17     17   39   $44k-$99k  5.300000    New York,Ny         1943       TRUE
18     18   35   $44k-$99k  6.700000    New York,Ny         1954       TRUE
19     19   32   $44k-$99k  3.300000    New York,Ny         1955       TRUE
20     20   39   $44k-$99k  5.700000    New York,Ny         1944       TRUE
21     21   35   $44k-$99k  5.000000    New York,Ny         1946         -1
22     22   19   $55k-$66k  7.800000    New York,Ny         1988       TRUE
23     23   39   $44k-$99k  2.400000    New York,Ny         1999       TRUE
24     24   13   $44k-$99k -1.000000    New York,Ny         1987         -1
25     25   55   $44k-$99k  0.000000  Australia Aus         1980       TRUE
26     26   39   $55k-$66k  3.528571       India,In         1934       TRUE
27     27   52   $44k-$99k  5.400000       India,In         1935         -1
28     28   39   $39k-$88k  3.400000  Australia Aus         1932         -1

In [ ]:
df['Rating'] = df['Rating'].round(2)
df

    Index  Age      Salary  Rating       Location  Established Easy Apply
0       0   44   $44k-$99k    5.40       India,In         1999       TRUE
1       1   66   $55k-$66k    3.50    New York,Ny         2002       TRUE
2       2   39   $77k-$89k   -1.00    New York,Ny           -1         -1
3       3   64   $44k-$99k    4.40       India In         1988         -1
4       4   25   $44k-$99k    6.40  Australia Aus         2002         -1
5       5   44   $77k-$89k    1.40       India,In         1999       TRUE
6       6   21   $44k-$99k    0.00    New York,Ny           -1         -1
7       7   44   $44k-$99k   -1.00  Australia Aus           -1         -1
8       8   35   $44k-$99k    5.40    New York,Ny           -1         -1
9       9   22   $44k-$99k    7.70       India,In           -1       TRUE
10     10   55   $10k-$49k    5.40       India,In         2008       TRUE
11     11   44   $10k-$49k    6.70       India,In         2009         -1
12     12   39   $44k-$99k    0.00       India,In         1999         -1
13     13   25   $44k-$99k   -1.00  Australia Aus         2019       TRUE
14     14   66   $44k-$99k    4.00  Australia Aus         2020       TRUE
15     15   44  $88k-$101k    3.00  Australia Aus         1999         -1
16     16   19   $19k-$40k    4.50       India,In         1984         -1
17     17   39   $44k-$99k    5.30    New York,Ny         1943       TRUE
18     18   35   $44k-$99k    6.70    New York,Ny         1954       TRUE
19     19   32   $44k-$99k    3.30    New York,Ny         1955       TRUE
20     20   39   $44k-$99k    5.70    New York,Ny         1944       TRUE
21     21   35   $44k-$99k    5.00    New York,Ny         1946         -1
22     22   19   $55k-$66k    7.80    New York,Ny         1988       TRUE
23     23   39   $44k-$99k    2.40    New York,Ny         1999       TRUE
24     24   13   $44k-$99k   -1.00    New York,Ny         1987         -1
25     25   55   $44k-$99k    0.00  Australia Aus         1980       TRUE
26     26   39   $55k-$66k    3.53       India,In         1934       TRUE
27     27   52   $44k-$99k    5.40       India,In         1935         -1
28     28   39   $39k-$88k    3.40  Australia Aus         1932         -1

In [ ]:
df['Location'] = df['Location'].astype(str)
df['Easy Apply'] = df['Easy Apply'].astype(str)
df

    Index  Age      Salary  Rating       Location  Established Easy Apply
0       0   44   $44k-$99k    5.40       India,In         1999       TRUE
1       1   66   $55k-$66k    3.50    New York,Ny         2002       TRUE
2       2   39   $77k-$89k   -1.00    New York,Ny           -1         -1
3       3   64   $44k-$99k    4.40       India In         1988         -1
4       4   25   $44k-$99k    6.40  Australia Aus         2002         -1
5       5   44   $77k-$89k    1.40       India,In         1999       TRUE
6       6   21   $44k-$99k    0.00    New York,Ny           -1         -1
7       7   44   $44k-$99k   -1.00  Australia Aus           -1         -1
8       8   35   $44k-$99k    5.40    New York,Ny           -1         -1
9       9   22   $44k-$99k    7.70       India,In           -1       TRUE
10     10   55   $10k-$49k    5.40       India,In         2008       TRUE
11     11   44   $10k-$49k    6.70       India,In         2009         -1
12     12   39   $44k-$99k    0.00       India,In         1999         -1
13     13   25   $44k-$99k   -1.00  Australia Aus         2019       TRUE
14     14   66   $44k-$99k    4.00  Australia Aus         2020       TRUE
15     15   44  $88k-$101k    3.00  Australia Aus         1999         -1
16     16   19   $19k-$40k    4.50       India,In         1984         -1
17     17   39   $44k-$99k    5.30    New York,Ny         1943       TRUE
18     18   35   $44k-$99k    6.70    New York,Ny         1954       TRUE
19     19   32   $44k-$99k    3.30    New York,Ny         1955       TRUE
20     20   39   $44k-$99k    5.70    New York,Ny         1944       TRUE
21     21   35   $44k-$99k    5.00    New York,Ny         1946         -1
22     22   19   $55k-$66k    7.80    New York,Ny         1988       TRUE
23     23   39   $44k-$99k    2.40    New York,Ny         1999       TRUE
24     24   13   $44k-$99k   -1.00    New York,Ny         1987         -1
25     25   55   $44k-$99k    0.00  Australia Aus         1980       TRUE
26     26   39   $55k-$66k    3.53       India,In         1934       TRUE
27     27   52   $44k-$99k    5.40       India,In         1935         -1
28     28   39   $39k-$88k    3.40  Australia Aus         1932         -1

In [ ]:
print(df.dtypes)

Index            int64
Age              int64
Salary          object
Rating         float64
Location        object
Established      int64
Easy Apply      object
dtype: object

In [ ]:
df['Location'] = df['Location'].replace(["India,In","Australia Aus","New York,Ny","India In"],["India","Australia","New York","India"])
df

    Index  Age      Salary  Rating   Location  Established Easy Apply
0       0   44   $44k-$99k    5.40      India         1999       TRUE
1       1   66   $55k-$66k    3.50   New York         2002       TRUE
2       2   39   $77k-$89k   -1.00   New York           -1         -1
3       3   64   $44k-$99k    4.40      India         1988         -1
4       4   25   $44k-$99k    6.40  Australia         2002         -1
5       5   44   $77k-$89k    1.40      India         1999       TRUE
6       6   21   $44k-$99k    0.00   New York           -1         -1
7       7   44   $44k-$99k   -1.00  Australia           -1         -1
8       8   35   $44k-$99k    5.40   New York           -1         -1
9       9   22   $44k-$99k    7.70      India           -1       TRUE
10     10   55   $10k-$49k    5.40      India         2008       TRUE
11     11   44   $10k-$49k    6.70      India         2009         -1
12     12   39   $44k-$99k    0.00      India         1999         -1
13     13   25   $44k-$99k   -1.00  Australia         2019       TRUE
14     14   66   $44k-$99k    4.00  Australia         2020       TRUE
15     15   44  $88k-$101k    3.00  Australia         1999         -1
16     16   19   $19k-$40k    4.50      India         1984         -1
17     17   39   $44k-$99k    5.30   New York         1943       TRUE
18     18   35   $44k-$99k    6.70   New York         1954       TRUE
19     19   32   $44k-$99k    3.30   New York         1955       TRUE
20     20   39   $44k-$99k    5.70   New York         1944       TRUE
21     21   35   $44k-$99k    5.00   New York         1946         -1
22     22   19   $55k-$66k    7.80   New York         1988       TRUE
23     23   39   $44k-$99k    2.40   New York         1999       TRUE
24     24   13   $44k-$99k   -1.00   New York         1987         -1
25     25   55   $44k-$99k    0.00  Australia         1980       TRUE
26     26   39   $55k-$66k    3.53      India         1934       TRUE
27     27   52   $44k-$99k    5.40      India         1935         -1
28     28   39   $39k-$88k    3.40  Australia         1932         -1

In [ ]:
df['Established'] = df['Established'].replace(-1,0)
df['Easy Apply'] = df['Easy Apply'].replace("-1","0")
df

    Index  Age      Salary  Rating   Location  Established Easy Apply
0       0   44   $44k-$99k    5.40      India         1999       TRUE
1       1   66   $55k-$66k    3.50   New York         2002       TRUE
2       2   39   $77k-$89k   -1.00   New York            0          0
3       3   64   $44k-$99k    4.40      India         1988          0
4       4   25   $44k-$99k    6.40  Australia         2002          0
5       5   44   $77k-$89k    1.40      India         1999       TRUE
6       6   21   $44k-$99k    0.00   New York            0          0
7       7   44   $44k-$99k   -1.00  Australia            0          0
8       8   35   $44k-$99k    5.40   New York            0          0
9       9   22   $44k-$99k    7.70      India            0       TRUE
10     10   55   $10k-$49k    5.40      India         2008       TRUE
11     11   44   $10k-$49k    6.70      India         2009          0
12     12   39   $44k-$99k    0.00      India         1999          0
13     13   25   $44k-$99k   -1.00  Australia         2019       TRUE
14     14   66   $44k-$99k    4.00  Australia         2020       TRUE
15     15   44  $88k-$101k    3.00  Australia         1999          0
16     16   19   $19k-$40k    4.50      India         1984          0
17     17   39   $44k-$99k    5.30   New York         1943       TRUE
18     18   35   $44k-$99k    6.70   New York         1954       TRUE
19     19   32   $44k-$99k    3.30   New York         1955       TRUE
20     20   39   $44k-$99k    5.70   New York         1944       TRUE
21     21   35   $44k-$99k    5.00   New York         1946          0
22     22   19   $55k-$66k    7.80   New York         1988       TRUE
23     23   39   $44k-$99k    2.40   New York         1999       TRUE
24     24   13   $44k-$99k   -1.00   New York         1987          0
25     25   55   $44k-$99k    0.00  Australia         1980       TRUE
26     26   39   $55k-$66k    3.53      India         1934       TRUE
27     27   52   $44k-$99k    5.40      India         1935          0
28     28   39   $39k-$88k    3.40  Australia         1932          0

In [ ]:
df['Established'] = df['Established'].replace(0,df['Established'].mean()).round()
df['Established'] = df['Established'].astype(int)
df['Easy Apply'] = df['Easy Apply'].replace("TRUE",1).astype(int)
df['Salary'] = df['Salary'].replace("$"," ")
df

    Index  Age      Salary  Rating   Location  Established  Easy Apply
0       0   44   $44k-$99k    5.40      India         1999           1
1       1   66   $55k-$66k    3.50   New York         2002           1
2       2   39   $77k-$89k   -1.00   New York         1639           0
3       3   64   $44k-$99k    4.40      India         1988           0
4       4   25   $44k-$99k    6.40  Australia         2002           0
5       5   44   $77k-$89k    1.40      India         1999           1
6       6   21   $44k-$99k    0.00   New York         1639           0
7       7   44   $44k-$99k   -1.00  Australia         1639           0
8       8   35   $44k-$99k    5.40   New York         1639           0
9       9   22   $44k-$99k    7.70      India         1639           1
10     10   55   $10k-$49k    5.40      India         2008           1
11     11   44   $10k-$49k    6.70      India         2009           0
12     12   39   $44k-$99k    0.00      India         1999           0
13     13   25   $44k-$99k   -1.00  Australia         2019           1
14     14   66   $44k-$99k    4.00  Australia         2020           1
15     15   44  $88k-$101k    3.00  Australia         1999           0
16     16   19   $19k-$40k    4.50      India         1984           0
17     17   39   $44k-$99k    5.30   New York         1943           1
18     18   35   $44k-$99k    6.70   New York         1954           1
19     19   32   $44k-$99k    3.30   New York         1955           1
20     20   39   $44k-$99k    5.70   New York         1944           1
21     21   35   $44k-$99k    5.00   New York         1946           0
22     22   19   $55k-$66k    7.80   New York         1988           1
23     23   39   $44k-$99k    2.40   New York         1999           1
24     24   13   $44k-$99k   -1.00   New York         1987           0
25     25   55   $44k-$99k    0.00  Australia         1980           1
26     26   39   $55k-$66k    3.53      India         1934           1
27     27   52   $44k-$99k    5.40      India         1935           0
28     28   39   $39k-$88k    3.40  Australia         1932           0